altgraph==0.17
asgiref==3.2.3
bson==0.5.8
Cython==0.29.17
dataclasses==0.6
Django==2.2.11
django-crispy-forms==1.9.2
djongo==1.3.1
future==0.18.2
joblib==0.17.0
numpy==1.19.4
pandas==1.1.4
patsy==0.5.1
pefile==2019.4.18
pmdarima==1.8.0
PyInstaller==3.6
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
scikit-learn==0.23.2
scipy==1.5.4
six==1.14.0
sqlparse==0.2.4
statsmodels==0.12.1
threadpoolctl==2.1.0
urllib3==1.26.2
