{% extends "todo/layout.html" %}
{% load static %}
{% block body %}
    {% if not user.is_authenticated %} 
        <h5>Please register or login. If you have an account, go to <a class="link" href="{%url 'login'%}">login</a>.</h5>
    {% else %}
    <form action="{% url 'createlist' %}" class="form-group" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-4">
                <input type="text" class="form-control" name="addnewlist">
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i> Add New List</button>
            </div>
        </div>
    </form>
    <hr class="bg-secondary">
    <h2>To-do List</h2>
    <div class="row">
        {% for todolist in todolists %}
            {% include "todo/snippets/todolistcard.html" %}        
        {% empty %}
            <div class="col-12">
                <h4>Nothing to show here.</h4>
            </div>
        {% endfor %}
    </div>    
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'todo/js/styles.js' %}"></script>
{% endblock %}